.form {
  font-family: Heebo;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form__title {
  color: #2e506d;
  font-weight: 500;
  text-align: center;
}

.form__note {
  font-size: 14px;
  color: rgb(153, 117, 0);
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1.4;
}

.form__row-set {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
  flex-wrap: wrap;
}

.form__input-set {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.form__input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__btn-container {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.form__input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form__input-error {
  position: absolute;
  bottom: -20px;
  right: 0;
  color: red;
  font-size: 12px;
}

.form__btn {
  background-color: transparent;
  border: none;
  width: 20px;
  cursor: pointer;
}

.form__submit-btn {
  max-width: 200px;
  width: 100%;
  margin-top: 50px;
  background: #2779c3;
  color: white;
  font-size: 18px;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__valid-msg {
  color: red;
}

.form__valid-msg_type_success {
  color: rgb(0, 87, 0);
}

.form__icon-btn {
  font-size: 22px;
}

.form__status {
  background: aliceblue;
  padding: 20px;
}

@media (max-width: 527px) {
  .form {
    gap: 5px;
  }
  .form__input-error {
    top: 0;
    position: relative;
  }
}

@media (max-width: 380px) {
  .form__input-group {
    width: 88%;
  }
}
